body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-15px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:59px;
  top:230px;
  width:210px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:272px;
  top:7px;
  width:35px;
  height:35px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:272px;
  top:10px;
  width:38px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:59px;
  top:293px;
  width:210px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-image:none;
  font-family:'SourceSansPro-Regular', 'Source Sans Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#87D4E5;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u8 {
  position:absolute;
  left:50px;
  top:340px;
  width:220px;
  height:200px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:8px;
  top:15px;
  width:195px;
  height:40px;
  font-family:'SourceSansPro-Regular', 'Source Sans Pro';
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:40px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
