body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:224px;
  width:300px;
  height:110px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:110px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:110px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u2 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:250px;
  top:10px;
  width:40px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:0px;
  top:-10px;
  width:320px;
  height:568px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u5 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:192px;
  width:280px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  background-image:none;
  font-family:'SourceSansPro-Light', 'Source Sans Pro ExtraLight', 'Source Sans Pro';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7 {
  position:absolute;
  left:20px;
  top:235px;
  width:280px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  background-image:none;
  font-family:'SourceSansPro-Light', 'Source Sans Pro ExtraLight', 'Source Sans Pro';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8 {
  position:absolute;
  left:20px;
  top:293px;
  width:280px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  background-image:none;
  font-family:'SourceSansPro-Light', 'Source Sans Pro ExtraLight', 'Source Sans Pro';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:20px;
  top:343px;
  width:280px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  background-image:none;
  font-family:'SourceSansPro-Light', 'Source Sans Pro ExtraLight', 'Source Sans Pro';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10 {
  position:absolute;
  left:10px;
  top:392px;
  width:300px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:0px;
  top:7px;
  width:60px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
